.container {
    background: white;
    padding: 20px 25px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    position: relative;
  }
  th {
    padding: 15px; /* Adjust the padding value as needed */
}