<div class="container">
<table>
    <thead>
      <tr>
          <th>Friend Name</th>
          <th>City</th>
          <th>Contact</th>
          <th>Profession</th>
          <th>File</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let Obj of userfriendslist">
        <td>{{Obj.FriendName}}</td>
        <td>{{Obj.City}}</td>
        <td>{{Obj.Contact}}</td>
        <td>{{Obj.Profession}}</td>
        <td>
          <!-- <ng-container *ngIf="Obj.Filepath">
            <a href="{{ Obj.Filepath }}" target="_blank">{{ getFileNameFromPath(Obj.Filepath) }}</a>
          </ng-container>
          <ng-container *ngIf="!Obj.Filepath">No File</ng-container> -->
        </td>
      </tr>
    </tbody>
  </table>
</div>