<div class="container">
  <div class="row">
    <form class="col s12" id="forgot-form">
      <div class="=row">
        <div class="title-msg">
          <h4>Forgot Password</h4>
          
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" name="email" [(ngModel)]="userdata.Email" required helperText="">
          <label for="email">Email</label>
        </div>
      </div>
      <!-- <div class="row">
        <div class="input-field col s12">
          <input id="newpassword" type="password" class="validate" name="newpassword" [(ngModel)]="userdata.Password" required>
          <label for="password"> New Password</label>
        </div>
      </div> -->
      <!-- <div class="row">
        <div class="input-field col s12">
          <input id="confirmpassword" type="password" class="validate" name="confirmpassword" [(ngModel)]="userdata.Password" required>
          <label for="password">Password</label>
        </div>
      </div> -->
      <button class="btn waves-effect waves-teal" (click)="checkEmailAvailability()">Change Password</button>
    </form>
  </div>   
</div>
