@media screen and (max-width: 600px) {
  .sidenav {
    top:auto ;
    width: 180px;
    overflow-y: visible;
    background-color: rgba(20, 29, 24, 0.651);
  }
  .top-nav{
    background-color: rgba(20, 29, 24, 0.651);
    
  }
  .image-size{
    width: 150px;
    padding-top: 15px;
  }
  .sidenav li a{
    color: white;
  }
  .dropdown-content{
    top:auto;
    overflow-y: visible;
    background-color: rgba(20, 29, 24, 0.651);
  }
  .dropdown-content li a{
    color: white;
  }
  
}

@media screen and (min-width: 601px) and (max-width: 991px) {
  .sidenav {
    width: 200px;
    top:auto ; 
    background-color: rgba(20, 29, 24, 0.651);
  }
  .image-size{
    width: 260px;
  }
  .top-nav{
    background-color: rgba(20, 29, 24, 0.651);
  }
  .sidenav li a{
    color: white;
  }
  .dropdown-content{
    top:auto;
    overflow-y: visible;
    background-color: rgba(20, 29, 24, 0.651);
  }
  .dropdown-content li a{
    color: white;
  }
  main .row{
    padding-left: 200px;
  }
  
} 

@media screen and (min-width: 992px){
  .sidenav {
    width: 250px;
    top:auto; 
    background-color: rgba(20, 29, 24, 0.651);
  }
   .top-nav {
    height: 70px;
    background-color: rgba(20, 29, 24, 0.651);
  }
  .sidenav li a{
    color: white;
  }
  .dropdown-content{
    top:auto;
    overflow-y: visible;
    background-color: rgba(20, 29, 24, 0.651);
  }
  .dropdown-content li a{
    color: white;
  }
  main .row{
    padding-left: 250px;
  }
}







/* @media screen and (min-width: 768px) and (max-width: 991px){
 main .container{
  padding-left: 150px;
  grid-auto-columns: auto;
 }
} */


