.dropdown-content {
    top: 65px !important;
  }
  .top-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(16, 27, 65, 0.856);
    color: white; /* Adjust text color */
  }
  
  .sidenav {
    position: fixed;
    top: 65px; /* Adjust this value based on the height of your top navigation */
    left: 0;
    width: 200px;
    
    height: calc(100% - 65px); /* Adjust for the top navigation's height */
    overflow-y: auto;
    background-color: rgba(16, 27, 65, 0.856);
    color: white; /* Adjust text color */
  }
  
  .sidenav li a{
    color: white;
  }
  .row {
    padding-top: 30px
  }
  
  
  @media only screen and (min-width: 993px) {
    /* header {
      padding-left: 300px;
    } */
    .sidenav {
      top: 65px !important;
    }
    .container {
      width: 100%;
    }
    main {
      padding-left: 250px;
      padding-top: 65px;
    }
    main .container {
      width: 100%;
      max-width:1500px;
    }
    
  }

/* CALENDAR */


