
<!-- NAVBAR -->
  <header>
    <!-- TOPNAV -->
    <ul id="dropdown1" class="dropdown-content">
      <li><a href="#!">Logout</a></li>
      <li><a href="#!">Reset Password</a></li>
    </ul>
    <div class="navbar-fixed">
      <nav class="black darken-1">
        <div class="container">
          <div class="nav-wrapper">
            <a href="#!" class="brand-logo">Title</a>
            
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right">
              <!-- <li><a class="waves-effect waves-light">Login<i class="material-icons right">account_box</i></a></li>
              <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Hello User<i class="material-icons right">arrow_drop_down</i></a></li> -->
              <li><a id="user-profile" class="dropdown-trigger"  data-target="dropdown1" (click)="toggleDropdown()"><i class="material-icons">Profile</i></a></li>

            </ul>
          </div>
        </div>
      </nav>
    </div>
    <!-- END_TOPNAV -->

    <!-- SIDEBAR -->
    <ul id="nav-mobile" class="sidenav sidenav-fixed" style="width: 200px;">
      <li class="bold">
        <a href="#" >Dashboard</a>
      </li>
      <li class="bold">
        <a href="#" class="waves-effect waves-light">Farms</a>
      </li>
      <li class="bold">
        <a href="#" class="waves-effect waves-light">Cards</a>
      </li>
      <li class="bold">
        <a href="#" class="waves-effect waves-light">Charts</a>
      </li>
      <li class="bold">
        <a href="#" class="waves-effect waves-light">Buttons</a>
      </li>
      <li class="bold">
        <a href="#" class="waves-effect waves-light">Models</a>
      </li>
      <li class="bold">
        <a href="#" class="waves-effect waves-light">Tables</a>
      </li>
      <li class="bold">
        <a href="#" class="waves-effect waves-light">Pages</a>
      </li>
    </ul>
    <!-- END_SIDEBAR -->
  </header>
  <!-- END_NAVBAR -->

  <!-- MAIN -->
  <main>
    <div class="container">
      <div class="row">
        <!-- DASHBOARD -->
        
        <!-- END_DASHBOARD -->
        <app-logoutuser></app-logoutuser>
        <app-saveuserfriends></app-saveuserfriends>
      </div>
    </div>
  </main>
  <!-- END_MAIN -->
