@media screen and (min-width: 992px){
    .dashboard-image{
        position: relative;
        height: 300px;
        width: 100%;
    }
    .heading{
        font-size: 16px;
        text-align: center;
        font-weight: 700;
        font-family: 'Cabin', arial, sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;

    }
    .images{
        border-radius: 50%;
    }
  }