<div class="container">
  <div class="row">
    <form class="col s12" id="forgot-form">
      <div class="=row">
        <div class="title-msg">
          <h4>Reset Password</h4>
          
        </div>
      </div>

<div class="row">
  <div class="input-field col s12">
    <input id="email" type="email" class="validate" name="email" [(ngModel)]="userdata.Email" required>
    <label for="email">Email</label>
  </div>
</div>
<div class="row">
  <div class="input-field col s12">
    <input id="newpassword" type="password" class="validate" name="newpassword" [(ngModel)]="userdata.Password" >
    <label for="newpassword">New Password</label>
    <span *ngIf=" userdata.Password && !validateFields(userdata.Password)" class="red-text">Enter strong password</span>
  </div>
</div>
<div class="row">
  <div class="input-field col s12">
    <input id="confirmPassword" type="password" name="confirmPassword" required [(ngModel)]="confirmPassword" (input)="validateConfirmPassword()">
    <label for="confirmPassword">Confirm Password</label>
    <div *ngIf="passwordError" class="red-text">{{ passwordError }}</div>
  </div>
</div>
<button class="btn waves-effect waves-teal" (click)="updatePassword()">Save Changes</button>
</form>
</div>   
</div>